$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 14px;

// colors
$black-main: #080014;
$white-main: #fff;
$white-main-hover: rgba(255, 255, 255, 0.8);
$divider: rgba(100, 100, 100, 0.1);
$black-background-transparent: rgba(0, 0, 0, 0.4);
$black-card-background-transparent: rgba(0, 0, 0, 0.65);
$divider-secondary: #444;
$btn-primary: #1b49a0;
$text-secondary: #999;
$spinner: #4186ec;
$pre-background-color: #f5f5f5;
$pre-border-color: #ccc;
$code-background-color: #c7254e;
$code-color: #f9f2f4;
$tt-background-color: #eff0f1;
$action-section-background-color: #ffeebc;
$action-section-button-background-color:#ffc820;
$action-section-button-color:#333333;
$action-section-button-active-background-color:#e5a305;

$text-decoration: none;
