.about-page {
  .description-container{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
  }
  .about-docusign{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .loanco-sample-app {
    margin-top: 20px;
  }
  .features-section-title {
    margin-top: 60px;
  }
  .links-list {
    margin-top: 40px;
  }
  .docu-sign-link {
    margin-top: 40px;
  }
  .link-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}