.home-page {
  .home-main-section {
    background: url('../../img/home.png') no-repeat center;
    background-size: cover;

    .home-main {
      padding: 40px;
      color: $white-main;
      background: $black-background-transparent;
    }

    .general-section {
      margin-bottom: 30px;
    }

    .main-page-header {
      border-bottom: 0px;
    }

    .home-main ul {
      margin: 0px;
    }

    .home-main ul li span {
      text-decoration: underline;
      cursor: pointer;
    }

    .card .loan-percentage {
      text-align: center;
      font-size: 14px;
    }

    .loan-features {
      border-top: 1px solid $divider-secondary;
      margin-top: 14px;
      padding: 14px 0 0 0;
      font-size: 11px;
      color: $text-secondary;
    }

    .loan-features span:hover {
      color: white;
    }

    .loan-features > div:first-child {
      text-align: center;
      cursor: pointer;
      opacity: 0.8;
      padding-bottom: 4px;
    }

    .card .icon {
      margin-right: 10px;
    }

    .home-main .panel {
      margin-bottom: 20px;
    }
  }
}
